/* ==================== CONFIGURAÇÕES GERAIS ============================= */

/* Aqui estamos removendo as margens e espaçamentos que o navegador coloca automaticamente. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte */
body {
    font-family: "Poppins", sans-serif;
    color: #2f4149;
    background-color: #ecf7fc; /*fundo*/
}


/* ==================== CABEÇALHO ==================== */

/* cabeçalho - class="header" */
.header {
    background-color: #87ceeb;
    border-bottom: 4px solid #c6e6f5; /*bordinha de acabamento*/
}

/* cabeçalho - <a class="logo"> */
.logo {
    display: flex;
    align-items: center;
    gap: 8px; /* Cria um espaço entre a lua e o texto */

    text-decoration: none; /* Remove o sublinhado do link */

    color: #1b2327;
    font-weight: 700; /* negrito */

    object-fit: contain; /* ajuda a manter a imagem dentro do espaço definido */
}


/* cabeçalho - <nav class="menu"> */
.menu {
    display: flex; /* links ficam lado a lado */
    gap: 30px; /* Cria um espaço */
    align-items: center;
}

.menu a {
    text-decoration: none; /* Remove o sublinhado do link */
    color: #2f4149;
    font-size: 15px;
    font-weight: 500; /* negrito */

    transition: 0.3s ease;
}

.menu a:hover {
    color: #598496;
}


/* cabeçalho - <div class="container"> */
.container {

    /* O container ocupa 90% da largura da tela */
    width: 90%;

    /* Impede que o conteúdo fique gigante em telas muito grandes */
    max-width: 1200px;

    /*
        0 = margem em cima e embaixo
        auto = centraliza esquerda e direita
    */
    margin: 0 auto;

    /*
        Coloca os elementos lado a lado
        e permite organizar o espaço entre eles.
    */
    display: flex;

    /* Alinha os elementos verticalmente */
    align-items: center;

    /* Distribui o espaço entre os elementos */
    justify-content: space-between;

    /* Espaçamento interno em cima e embaixo */
    padding: 15px 0;
}


/* ==================== BOTÕES DO CABEÇALHO ==================== */

.submenu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.botao-cabe {
    display: flex;
    align-items: center;

    gap: 8px; /* espaço entre o SVG e o texto */

    background: none;
    border: none;

    font-family: "Poppins", sans-serif;
    font-size: 14px;

    color: #2f4149;

    cursor: pointer;

    transition: 0.3s ease;
}

.botao-cabe:hover {
    /* quando o mouse passar em cima muda de cor */
    color: #598496;
}


/* ==================== DESTAQUE ==================== */

.destaque {
    padding: 80px 0; /* espaço dentro do elemento */
}

.texto-destaque {
    max-width: 550px;
}

.texto-destaque h1 {

    /* Tamanho da letra */
    font-size: 48px;

    /* Altura entre as linhas do texto */
    line-height: 1.2;

    /* Espaço abaixo do título */
    margin-bottom: 15px;

    /* Deixa o título em negrito */
    font-weight: 700;

    /* Diminui um pouco o espaço entre as letras */
    letter-spacing: -1px;


    /* ==================== GRADIENTE NO TEXTO ==================== */

    /* Cria um gradiente circular usando as cores da Lunara */
    background-image: radial-gradient(
        #000000,
        #598496,
        #2f4149
    );

    /* Faz o fundo seguir o formato das letras */
    -webkit-background-clip: text;
    background-clip: text;

    /* Deixa a cor original do texto transparente,
       permitindo que o gradiente apareça */
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.texto-destaque p {
    /* Tamanho da letra */
    font-size: 18px;

    /* Espaço abaixo do parágrafo */
    margin-bottom: 25px;

    /* Cor do texto */
    color: #44626e;

    /* Altura entre as linhas */
    line-height: 1.6;

    /* Deixa o texto um pouco mais leve */
    font-weight: 400;
}

.conteudo {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    /*quadro ao redor*/
    border: 2px solid #9cc7da;
    border-radius: 15px;
    padding: 50px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3); /*sombra*/

     background-color: #ffffff;
}

/* ==================== BOTÃO DO DESTAQUE ==================== */

.botao-destaque {
    display: inline-block;

    padding: 12px 25px;

    background-color: #598496;

    color: #ffffff;

    text-decoration: none;

    border-radius: 8px;

    transition: 0.3s ease;
}

.botao-destaque:hover {
    background-color: #2f4149;
}

